
.navbar{
display: flex;
justify-content: space-between;
position: sticky;
top: 0;

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 55%;
}

li {
    float: left;
}

li button {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: transparent;
    border: none;

}

li button:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.carritoLogo{
    display: flex;
    align-items: center;
    border: solid #4CAF50;
    

    img{
        margin-left: 10px;
    }

    p{
        margin:0px;
        margin-left: 10px;
        margin-right: 10px;
        font-family: sans-serif;
    }

}



}

.verProductos {
    width: 80%;
    margin: 0 auto;

    .flex-box {
        width: 80%;
        margin: 0 auto;
        display: flex;
        ;
        flex-wrap: wrap;
        justify-content: center;

        .element {
            margin: 10px;
            text-align: center;
            align-items: center;
        

            img {
                width: 200px;
            }

            button {
                text-align: center;
                display: block;
                margin: 2px;
                margin: auto;
                margin-top: 3px;
                justify-content: center;
            }

            p {
                max-width: 200px;
            }
        }
    }

}



.carrito {

    table {
        width: 90%;

        th {
            text-align: left;
        }
    }
}

#tablaRanking {
    width: 100%;

    th {
        text-align: left;
    }
}

.icono {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#nuevoProducto {

    input {
        display: block;
    
    }
}
#tablaStocks {
    width: 100%;

    th {
        text-align: left;
    }
}