$margin: 10px;

.flex-box {
    display: flex;
    flex-wrap: wrap;
    .element {
        margin: 10px;
        text-align: center;
        align-items: center;
        img {
            width: 200px;
        }
        button {
            text-align: center;
            display: block;
            margin: 2px;
            margin: auto;
            margin-top: 3px;
            justify-content: center;
        }
    }
}

.verProductos {
    margin: $margin;
    width: 90%;

    select {
        margin: $margin/2;
    }
}



.carrito {
    margin: $margin;

    table {
        width: 90%;

        th {
            text-align: left;
        }
    }
}

#tablaRanking {
    width: 100%;

    th {
        text-align: left;
    }
}

.icono {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#nuevoProducto {
    margin: $margin;

    input {
        display: block;
        margin: $margin;
    }
}

#tablaStocks {
    width: 100%;

    th {
        text-align: left;
    }
}